[Desktop Entry]
Type=Application
Name=WebVM Screen Resize
Exec=/usr/local/bin/webvm-resize
OnlyShowIn=XFCE;
NoDisplay=true
X-GNOME-Autostart-enabled=true
